---
layout: default
---
<div class="home">
  <h1 class="page-heading">Forms</h1>
  {% assign path = page.path | split:"/" %}
  {% assign current_slug = path[1] %}
  {% assign current_market = path[2] %}
  {% assign prev_location = '' %}
  <ul>
    {% for page in site.['instapage_forms'] %}
      {% assign path = page.path | split:"/" %}
      {% assign slug = path[1] %}
      {% assign market = path[2] %}
      {% assign location = path[3] %}
      {% if slug == current_slug and market == current_market and location != prev_location and location != 'index.html' %}
        <li>
          <h2>
            <a href="/instapage_forms/{{ current_slug }}/{{ market }}/{{ location }}">{{ location }}</a>
          </h2>
        </li>
      {% endif %}
      {% assign prev_location = market %}
    {% endfor %}
  </ul>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
