  /* reset */
  legend {
    padding: 0;
    display: table;
  }
  fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
  }
  body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
  }
  textarea:focus, input:focus, div:focus{
    outline: none;
  }

  /* Form styles */
  $error-color: #C00;
  $text-color: #555;
  $success-color: #2cc16f;
  $background-color: #eee;
  $border-color: #d2d2d2;

  /* Centering icons vertically */  
  $inputHeight: 48px;
  $inputFaSize: 22px;
  $submitFaSize: 20px;

  /* Placeholder color on invalid */
  input.error{color: $error-color;}
  .error::-webkit-input-placeholder { color: $error-color; }
  .error:-moz-placeholder { color: $error-color; }
  .error::-moz-placeholder { color: $error-color; }
  .error:-ms-input-placeholder { color: $error-color; }

  /* Remove yellow background on chrome after autofill */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $background-color inset;
  }

  .input-container{
    height: 70px;
    text-align: left;
    position: relative;
    margin-bottom:10px;
    i{
      position: absolute;
      z-index: 1;
      font-size: $inputFaSize;
      top: ($inputHeight - $inputFaSize) / 2;
      right: ($inputHeight - $submitFaSize) / 2;
      display: none;
    }
    i.valid{
      color: $success-color;
      display: inline-block;
    }
    i.error{
      color: $error-color;
      display: none;
    }
    input[type="text"], input[type="email"], input[type="tel"], div.intl-tel-input.allow-dropdown {
      height: $inputHeight;
      line-height: $inputHeight;
      box-sizing: border-box;
      padding: 0 16px;
      margin: 0;
      background: $background-color;
      background-repeat:  no-repeat;
      background-position: right 8px center;
      border: 1px solid $border-color;
      border-radius:8px;
      font-size: 15px;
      font-weight: 400;
      font-family: "Lato", sans serif;
      width: 100%;
      color:#525252;
      &::placeholder{
        color:#525252;
      }
      &.error{
        border-color: $error-color;
      }
    }
    label.error{
      display:block;
      color: lighten($error-color, 10%);
      margin-top:4px;
    }
    &.gdpr{
      display: flex;
      flex-direction: row;
      margin-top: -10px;
      height: 50px;
      input{
        margin-top: 5px;
        margin-right: 10px;
      }
      .labels label{
        font-size: 80%;
        font-weight: normal;
        line-height: 1.4;
        margin-bottom: 0;
        color: $text-color;
        &.error{
          color: lighten($error-color, 10%);
        }
        a{
          color: lighten($text-color, 10%);
        }
      }
    }
  }

  p.phone-help{
    color: $text-color;
    margin-bottom: 5px;
  }

  .intl-tel-input{
    &.allow-dropdown{
      input[type=tel].itl-phone{
        background: transparent;
        height: $inputHeight - 2;
        padding-left: 70px;
        padding-right: 0;
        border: none;
        vertical-align:top;
      }
      &.separate-dial-code{
        .selected-flag{
          background: none;
        }
        .flag-container{
          padding: 0;
        }
      }
      .flag-container{
        border-right:1px solid #cfdbe0;
        padding: 10px;
        z-index: 10;
      }
    }
  }
  .iti-mobile .intl-tel-input.iti-container {
    z-index: 12000000;
  }
  .iti-flag {
    background-image: url("/wp-content/themes/ebs-v2/images/min/flags.png") !important;
  }

  .submit-container{
    position: relative;
    width: 250px;
    height: $inputHeight;
    margin: 0 auto;
    button[type="submit"]{
      -webkit-appearance: none;
      background-color: #2cc16f;
      color: #ffffff;
      left: 0px;
      height: $inputHeight;
      width: 100%;
      font-size: 15px;
      font-weight: 400;
      font-family: "Lato", sans serif;
      line-height: $inputHeight;
      box-sizing: border-box;
      border-radius: 8px;
      &:hover{
        background-color: #2aba6b;
        border-radius: 8px;
        -webkit-appearance: none;
      }
    }
    i{
      position: absolute;
      right: ($inputHeight - $submitFaSize) / 2;
      font-size: $submitFaSize;
      top: ($inputHeight - $submitFaSize) / 2;
    }
  }

  button[disabled="disabled"], button[disabled="disabled"]:hover{
    background-color: #9a9a98;
    cursor: not-allowed;
  }

  @media only screen and (max-width: 640px){
    button[type="submit"]{
      -webkit-appearance: none;
      width: 100%;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .iti-flag {
      background-image: url("/wp-content/themes/ebs-v2/images/min/flags@2x.png") !important;
    }
  }

  @media screen and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio:2) { 
    select,
    textarea,
    input,
    input:focus,
    input:hover {
      font-size: 16px !important;
    }
  }