<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          {% assign path = page.path | split:"/" %}
          {% assign template = path[0] | slice: 1, path[0].size %}
          {{ template }}
          {% assign prev_variation = '' %}
          <h1 class="page-heading">Variations</h1>
          <ul>
            {% for page in site[template] %}
              {% assign path = page.path | split:"/" %}
              {% assign variation = path[1] %}
              {% if variation != prev_variation and variation != 'index.html' %}
                <li>
                    <a href="/{{ template }}/{{ variation }}">{{ variation | upcase }}</a>
                </li>
              {% endif %}
              {% assign prev_variation = variation %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}

  </body>

</html>
