<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          {% assign path = page.path | split:"/" %}
          {% assign current_market = path[1] %}
          {% assign prev_location = '' %}
          <a href="/instapage_forms">&laquo; Markets</a>
          <h1 class="page-heading">{{ current_market | upcase }} - Locations</h1>
          <ul>
            {% for page in site.instapage_forms %}
              {% assign path = page.path | split:"/" %}
              {% assign market = path[1] %}
              {% assign location = path[2] %}
              {% if market == current_market and location != prev_location and location != 'index.html' %}
                <li>
                  <a href="/instapage_forms/{{ market }}/{{ location }}">{{ location | capitalize }}</a>
                </li>
              {% endif %}
              {% assign prev_location = market %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}

  </body>

</html>
